<!DOCTYPE html>
<html>
<head>
<title>Edit Student</title>
</head>
<body>
<h1>Edit Student</h1>
<form method="POST">
{% csrf_token %}
<label>Name:</label>
<input type="text" name="name"
value="{{ student.name }}" required>
<br><br>
<label>Marks:</label>
<input type="number" name="marks"
value="{{ student.marks }}"
step="0.01" min="0" max="100" required>
<br><br>
<label>Department:</label>
<input type="text" name="department"
value="{{ student.department }}" required>
<br><br>
<button type="submit">Update Student</button>
</form>
<br>
<a href="{% url 'student_list' %}">Back</a>


</body>
</html>