<!DOCTYPE html>
<html>
<head>
<title>Student List</title>
</head>
<body>
<h1>All Students</h1>
<a href="{% url 'home' %}">Home</a> |
<a href="{% url 'add_student' %}">Add Student</a> |
<a href="{% url 'search_student' %}">Search</a>
<br><br>
<table border="1" cellpadding="8">
<tr>
<th>Name</th>
<th>Marks</th>
<th>Department</th>
<th>Action</th>
</tr>
{% for student in students %}
<tr>
<td>{{ student.name }}</td>
<td>{{ student.marks }}</td>
<td>{{ student.department }}</td>
<td>
<a href="{% url 'edit_student' student.id %}">
Edit
</a>
<form method="POST"
action="{% url 'delete_student' student.id %}"
style="display:inline;">

{% csrf_token %}
<button type="submit">Delete</button>
</form>
</td>
</tr>
{% empty %}
<tr>
<td colspan="4">No students found.</td>
</tr>
{% endfor %}
</table>
</body>
</html>
